body{
    background-image:  url(../imagenes/descarga.png)
}
a  {
    text-decoration: none;
    color: black;
}

img{
    border-radius: 40px;
    box-shadow: 0 0  20px #494949;
    height: 500px;
    width: 500px;
}

.cuadro1  header { 
  text-align: center;
  text-shadow: 50px 10px 80px #494949;
}

.cuadro1{
    margin-top: 50px;
    width: 900px;
    height:850px;
    background-color:aliceblue;
    margin-left: 15%;
    box-shadow: 10px 10px 50px #494949 ;
    float: left;
}
.cuadro2{
    width: 400px;
    height: 100%;
    background-color:aliceblue;
    float: right;
    margin-right: 15%;
    box-shadow: 0px 0px 50px #494949 ;
    margin-top: 50px;
}

.cuadro2 h1{
    text-align: center;
}

.cuadro3 h1{
    text-align: center;
}
.cuadro3{
    width: 400px;
    height: 100%;
    background-color:aliceblue;
    float: right;
    margin-right: 15%;
    box-shadow: 0px 0px 50px #494949 ;
    margin-top: 50px;
}

.cuadro3 ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

.cuadro3 li {
    background-color: #494949;
    height: 30px;
    border: gray 2px solid;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

}

.cuadro3 a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
    
}

.cuadro3 li:hover {
    background-color: aliceblue;
    color: black ;
}